! special
*.foreground: #dfdfdf
*.background: [95]#143834
*.border_unfocused: #353234
*.border_focused: #144949


URxvt*letterSpace: 	    	0
URxvt*font:                 	xft:JetBrains Mono Medium:pixelsize=12:antialias=true
! perl extensions
URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,resize-font
!URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed

! macros for clipboard and selection
URxvt*copyCommand:      xclip -i -selection clipboard
URxvt*pasteCommand:     xclip -o -selection clipboard
URxvt*keysym.M-c:       perl:clipboard:copy
URxvt*keysym.m-v:       perl:clipboard:paste
URxvt*keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt*keysym.M-Escape:  perl:keyboard-select:activate
URxvt*keysym.M-s:       perl:keyboard-select:search
URxvt*keysym.M-u:       perl:url-select:select_next
URxvt*resize-font.smaller:	C-Down
URxvt*resize-font.bigger:	C-Up
URxvt*urlLauncher:      firefox
URxvt*underlineURLs:    true
URxvt*urlButton:        1
URxvt*geometry: 		90x30

! tabbed
URxvt*tabbed.tabbar-fg: 4
URxvt*tabbed.tabbar-bg: 16
URxvt*tabbed.tab-fg:    
URxvt*tabbed.tab-bg:    
URxvt*buffered:         false
URxvt*keysym.Control-Shift-C: perl:clipboard:copy
URxvt*keysym.Control-Shift-V: perl:clipboard:paste
URxvt*depth:            32
!URxvt*transparent:      true
*.scrollBar:        false
*.scrollTtyOutput:  false
*.scrollWithBuffer:  true
*.scrollTtyKeypress: true
*.internalBorder:   0
*.externalBorder:   0

! dmenu
dmenu.selbackground: #144949
dmenu.selforeground: #dfdfdf
dmenu.font: JetBrains Mono:pixelsize=12:antialias=true:autohint=true:hintstyle=hintmedium

! st
!st.font: JetBrains Mono:pixelsize=12:antialias=true:autohint=true:hintstyle=hintmedium
!st.background: #143834

! black
*.color0: 	  #000000

! gray
*.color8: 	  #343834

! red
*.color1:     #cf5252
*.color9:     #cf5252

! green
*.color2:     #92ad4a
*.color10:    #92ad4a

! yellow
*.color3:     #c9895b
*.color11:    #c9895b

! blue
*.color4:     #6f97b8
*.color12:    #6f97b8

! magenta
*.color5:     #ab6ba6
*.color13:    #ab6ba6

! cyan
*.color6:     #6fa69f
*.color14:    #6fa69f

! white
*.color7:     #cccccc
